## Correction Instructions
You previously produced the following output:
{{ previous_output }}

A quality assurance reviewer has provided the following feedback:
{{ qa_feedback }}

Please address all feedback and produce a corrected version of your output. Maintain the same output format.
